# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates


# Build results
VPGSync/[Dd]ebug/
VPGSync/[Dd]ebugPublic/
VPGSync/[Rr]elease/
VPGSync/[Rr]eleases/
VPGSync/x64/
VPGSync/x86/
VPGSync/bld/
VPGSync/[Bb]in/
VPGSync/[Oo]bj/
VPGSync/[Ll]og/
packages/
.vs/
